@model DetailsViewModel

<div class="text-primary text-lg-center" style="font-size: 1.5em">
    Описание:
</div>
<div class=""></div>

<div style="position:relative; left: 10px;">
    <div class="text-secondary text-lg-start" style="text-indent: 2em; white-space: pre-line;">
        @Model.Description
    </div>
</div>

<partial name="_EditorBottomButtons" model="@Model.ButtonsViewModel"/>