@model EditorBottomButtonsViewModel

<div style="margin:10px">
    @if (Model.ShowAction)
    {
        <button class="btn btn-@Model.Theme" type="submit" asp-action="@Model.Action">@Model.ActionName</button>
    }
    <a class="btn btn-secondary" asp-action="@Model.BackAction">@Model.BackName</a>
</div>