<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/Layout.css" rel="stylesheet" />

    <script src="/scripts/jquery/jquery.min.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
@{
    var cur_controller = ViewContext.RouteData.Values["controller"].ToString();
    var userName = User.Identity.Name;
    var userRole = User.Role();
    var admin = userRole == RolesReadonly.DB_Admin;
}
<body class="layout_image">
    <div class="m-2" style="min-width: 780px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-opacity-75 text-opacity-100">
            <div class="container-fluid  d-flex">
                <a class="btn navbar-brand text-white" asp-controller="Home" asp-action="Index">
                    Домой
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (User.IsInRole(RolesReadonly.Storekeeper) || admin)
                        {
                            <!--Панель кладовщика-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Warehouse" asp-action="Material">
                                        Кладовщик
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Warehouse" asp-action="Material">
                                                Материалы
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Warehouse" asp-action="Materialtype">
                                                Типы материалов
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Warehouse" asp-action="Seller">
                                                Поставщик материала
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Warehouse" asp-action="Materiallease">
                                                Договор на поставку материалов
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="RepairStorekeeperCommon" asp-action="Extradationrequest">Заявка на выдачу</a>
                                        </li>
                                        <li>
                                            <hr />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Warehouse" asp-action="MaterialAnalytics">Просмотреть материалы</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Personell_Officer) || admin)
                        {
                            <!--Панель персонала-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Staff" asp-action="Staff">
                                        Персонал
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Staff" asp-action="Staff">
                                                Персонал
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" asp-controller="Staff" asp-action="Position">Должности</a></li>
                                        <li><a class="dropdown-item" asp-controller="YachtCrewCommon" asp-action="YachtCrew">Экипаж яхт</a></li>
                                        <hr />
                                        <li><a class="dropdown-item" asp-controller="Staff" asp-action="StaffSearch">Поиск персонала</a></li>
                                        <li><a class="dropdown-item" asp-controller="Staff" asp-action="CrewSearch">Поиск экипажей</a></li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Repairman) || admin)
                        {
                            <!--Панель ремонта-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Repair" asp-action="RepairSearch">
                                        Поиск ремонтов
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Repair" asp-action="RepairSearch">
                                                Поиск ремонтов
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" asp-controller="Repair" asp-action="Yachttest">Тестовые заплывы</a></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Repair" asp-action="Repair">
                                                Ремонт
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="RepairStorekeeperCommon" asp-action="Extradationrequest">Заявка на выдачу</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Owner) || admin)
                        {
                            <!--Типы контрактов-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="" asp-action="">
                                        Панель управления
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="Yachtleasetype">
                                                Тип контракта на яхты
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="Contracttype">
                                                Тип контрактов для клиентов
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="Yachttype">
                                                Тип яхт
                                            </a>
                                        </li>
                                        <li><hr /></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="Yachtlease">
                                                Договор по яхте
                                            </a>
                                        </li>
                                        <li><hr /></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="Event">
                                                События
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Client" asp-action="Review">
                                                Отзывы
                                            </a>
                                        </li>
                                        <li>
                                            <hr />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="MaterialAnalytics">Отчёт по материалам</a>
                                        </li> 
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="ContractAnalytics">Отчёт по контрактам с клиентами</a>
                                        </li> 
                                        <li>
                                            <a class="dropdown-item" asp-controller="Owner" asp-action="YachtleaseAnalytics">Отчёт по контрактам арендования места</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Captain) || admin)
                        {
                            <!--Капитаны-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="YachtCrewCommon" asp-action="YachtCrew">
                                        Экипаж моих яхт
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Captain" asp-action="Contract">
                                                Контракты
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Client))
                        {
                            <!--Клиент-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Client" asp-action="Yacht">
                                        Мои яхты
                                    </a>
                                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Client" asp-action="Yachtlease">
                                                Мои договоры на яхты
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Client" asp-action="Contract">
                                                Мои контракты
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(RolesReadonly.Client) || userRole == "Default")
                        {
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Home" asp-action="Yachtleasetype">
                                        Расценки по аренде стоянки для яхты
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Home" asp-action="Contracttype">
                                        Расценки на наши контракты
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Home" asp-action="Yachttype">
                                        Классы яхт поддерживаемые клубом
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a class="btn text-white" asp-controller="Home" asp-action="Yacht">
                                        Действующие яхты
                                    </a>
                                </div>
                            </li>
                        }

                        <li class="nav-item  w-100">
                            @if (cur_controller != "Account")
                            {
                                <style>
                                    div > a, div {
                                        margin: 2px;
                                    }
                                </style>
                                <div class="navbar-brand position-absolute collapse navbar-collapse d-flex flex-row-reverse text-white" style="right: 60px; top: 2px;">
                                    @if (string.IsNullOrEmpty(userName))
                                    {
                                        <a class="btn text-white btn-outline-info fs-5" asp-controller="Account" asp-action="Registry">
                                            Регистрация
                                        </a>
                                    }
                                    <a class="btn text-white btn-outline-info fs-5 " asp-controller="Account" asp-action="@(string.IsNullOrEmpty(userName)?"Login":"Logout")">
                                        @(string.IsNullOrEmpty(userName)?"Войти":"Выйти")
                                    </a>

                                    @if (!(string.IsNullOrEmpty(userRole) || userRole == "Default"))
                                    {
                                        <div class="badge fs-5" style="background-color: orchid; color: white;">
                                            @userRole
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(userName))
                                    {
                                        <a class="btn btn-outline-info fs-5" asp-controller="Account" asp-action="MyProfile">
                                            Добро пожаловать, @userName
                                        </a>
                                    }
                                </div>
                            }
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </div>
    <div align="center">
        <div class="initial_div bg-white">
            <div id="ContentDiv" style="min-height: calc(100vw - 1px); min-width: 682px;">
                <div>
                    @RenderBody()
                </div>

            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - YachtClub&trade; @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                </div>
            </footer>
        </div>
    </div>

</body>
</html>