@model IEnumerable<RepairMen>

<table class="table table-sm table-striped table-bordered text-white">
    <thead>
        <tr class="table-dark">
            <td>
                ID
            </td>
            <td>
                Сотрудник
            </td>
            <td>
                Номер ремонта
            </td>
            <td colspan="2">
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var sp in Model)
        {
            <tr class="text-black btn-area-2">
                <td>
                    @sp.Id
                </td>
                <td>
                    @($"{sp.Staff.Staff.Name} {sp.Staff.Staff.Surname} {sp.Staff.Staff.Email}")
                </td>
                <td>
                    @sp.Repairid
                </td>
               
                <td align="center">
                    <a class="btn btn-danger" asp-action="DeleteRepairMen" asp-route-id="@sp.Id"> Удалить </a>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" align="center">
                <a asp-action="CreateRepairMen" class="btn btn-primary">
                    <div style="width: 50vw;">
                        Создать
                    </div>
                </a>
            </td>
        </tr>
    </tfoot>
</table>

